
<!DOCTYPE html>
<html lang="es">

<head>
    <title>AppW</title>
    <meta charset="utf-8" />
    <meta name="author" content="TORICES" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- FONTS GOOGLE -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css" />
    <!-- FONTS AWESOME ICONS -->
    <script src="https://kit.fontawesome.com/40cb3ccd28.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="font-family: Quicksand;">
    <div class="container" style="margin-top:60px; margin-bottom: 60px">
        <div class="card text-center">
            <div class="card-header">
                <h1 style="color:blue;"><i class="fas fa-comments"></i>AppW</h1>
            </div>
            <div class="card-body">
                <h1 align="center" style="margin:60px;"><b style="border-style:solid; border-width:thin; border-radius: 5px; border-color: blue; padding:5px;">Entorno Pruebas</b><br>App WhatsApp CTS con CHAT API EN PYTHON
                </h1>
            </div>
            <div class="card-footer">
                <div align="center">
                    <p class="footer">
                        <h4>TORICES</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
